
<form id='frmAdministerMed' name='frmAdministerMed'>
<div ng-controller="administerMedicationDetailsCtrl">
    <div encounter-type-nav-bar-dir encounter-type-nav-bar-options="navBarOptions" ng-if="showSubNavbars">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="padding">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="panel-title">
                                    {{'lblGeneralDetails'| translate}}</h3>
                                <hr>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                {{'lblWorkRelated'| translate}} <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="workrelated" ng-model="administerMedicationDetails.WorkRelated"
                                        ng-value="true" class="" />{{'lblYes'| translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="workrelated" ng-model="administerMedicationDetails.WorkRelated"
                                        ng-value="false" class="" />{{'lblNo'| translate}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="administerMedicationDetails.WorkRelated == true">
                            <label class="control-label col-sm-4">
                                {{'lblIncidentID'| translate}}
                                <!--<span class="text-danger">*</span>-->
                            </label>
                            <div class="col-sm-8">
                                <!-- <div class="input-group">-->
                                <select class="form-control" ng-model="administerMedicationDetails.IncidentID">
                                    <option ng-repeat="data in incidentList" value="{{data.ID}}">{{data.Text}} </option>
                                </select>
                                <!--<div class="input-group-addon">
                                            <i class="fa fa-list-alt"></i>
                                        </div>-->
                                <!--   </div>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 time-label">
                                {{'lblTime' | translate}} <span class="text-danger">*</span></label>
                            <div class="col-sm-8 col-md-5">
                                <timepicker class="timepicker-table" ng-model="DrawPrescriptionTime" hour-step="hourStep"
                                    minute-step="minuteStep" show-meridian="true">
                                    </timepicker>
                                <input type="hidden" id="hdnPt" value="{{DrawPrescriptionTime | date:'HH:mm' }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">
                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                            Non-Prescribed Medication?
                        </div>
                        <div class="pull-right">
                            <input bs-switch ng-model="NonPrescription" type="checkbox"
                                switch-size="mini" switch-on-text="Yes" switch-off-text="No" >
                        </div>
                    </div>
                    <div class="panel-body" ng-show="NonPrescription">
                        <div class="col-sm-10" ng-show="showNonPrescribedDetail">
                            <div class="padding">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblMedicineName' | translate}} <span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <ui-select ng-model="NONPAMDetails.MedicineName" on-select="onSelectMedicine($item)">
                                      <ui-select-match placeholder="Medicine Name" style="width:100%;">{{$select.selected.Text}}</ui-select-match>
                                      <ui-select-choices repeat="medicine.Text as medicine in medicineDetailsList| filter: $select.search">
                                        <div ng-bind="medicine.Text"></div>
                                      </ui-select-choices>
                                    </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblFrequency' | translate}} <span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id = 'ddlNONPAMMedicationFrequency' ng-model="NONPAMDetails.MedicationFrequencyID" ng-change ="fun(7)">
                                                <option ng-repeat="data in MedicationFrequencyList" value="{{data.ID}}">{{data.Text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblRoute' | translate}} <span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id = 'ddlNONPAMMedicationRoute' ng-model="NONPAMDetails.MedicationRouteID"  ng-change ="fun(6)">
                                                <option ng-repeat="data in MedicationRouteList" value="{{data.ID}}">{{data.Text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblLotNumber' | translate}} <span class="text-danger">*</span></label>
                                        <div class="col-sm-8 ">
                                            <ui-select ng-model="NONPAMDetails.MedicationLotNumber" on-select="onSelectLotNumber($item)">
                                      <ui-select-match placeholder="Lot #" style="width:100%;">{{$select.selected.LotNumber}}</ui-select-match>
                                      <ui-select-choices repeat="lotnumber.LotNumber as lotnumber in lotNumberList| filter: $select.search">
                                        <div ng-bind="lotnumber.LotNumber"></div>
                                      </ui-select-choices>
                                    </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblExpirationDate' | translate}}
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="datetime" date-time class="form-control" ng-model="NONPAMDetails.MedicineExpirationDate"
                                                    format="longDate" view="date" min-view="date" auto-close="true" disabled="">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblDose' | translate}}
                                        </label>
                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input id="MedicineDose" class="form-control" ng-model="NONPAMDetails.MedicineDose"
                                                        ng-keypress="keyPressWithDot($event,'MedicineDose')" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control " id = 'ddlMedicineDoseUOM' ng-model="NONPAMDetails.MedicineDoseUOMTypeId" ng-change ="fun(5)"
                                                        disabled="">
                                                        <!--ng-model="administerMedicationDetails.HealthCareProviderID"-->
                                                        <option ng-repeat="data in CommonUnitsOfMeasurementList" value="{{data.ID}}">{{data.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-4">
                                            <label ng-show="(NONPAMDetails.CurrentDosage >= 0 && NONPAMDetails.CurrentDosage != null)">
                                                ( Current Availability:</label>
                                            <label ng-show="(NONPAMDetails.CurrentDosage >= 0 && NONPAMDetails.CurrentDosage != null)">
                                                {{NONPAMDetails.CurrentDosage}}</label>
                                            <label ng-show="(NONPAMDetails.CurrentDosage >= 0 && NONPAMDetails.CurrentDosage != null)">
                                                {{getUOMType(NONPAMDetails.MedicineDoseUOMTypeId) }}</label>
                                            <label ng-show="(NONPAMDetails.CurrentDosage >= 0 && NONPAMDetails.CurrentDosage != null)">
                                                )</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblAdverseReaction' | translate}}? <span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" name="adverseReaction" ng-model="administerMedicationDetails.AdverseReaction"
                                                    ng-value="true" />{{'lblYes'| translate}}
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="adverseReaction" ng-model="administerMedicationDetails.AdverseReaction"
                                                    ng-value="false" />{{'lblNo'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="administerMedicationDetails.AdverseReaction == true">
                                        <label class="control-label col-sm-4">
                                            {{'lblReactionDescription' | translate}}<span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" maxlength="2000" ng-model="administerMedicationDetails.AdverseReactionDescription"></textarea>
                                            <!--// rows="4" cols="50"-->
                                            <span class="form-help pull-right text-muted" ng-class="(administerMedicationDetails.AdverseReactionDescription.length > 2000) ? 'text-danger' : null">
                                                <strong>{{2000-administerMedicationDetails.AdverseReactionDescription.length}} {{'lblCharactersLeft'
                                                    | translate}} </strong></span>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm pull-right"  ng-click="SaveToNonPecribedList()" >Done </a><span class="pull-right">&nbsp;&nbsp;</span>
                                        <a class="btn btn-danger btn-sm pull-right" ng-click="DiscardAMDetail('NonPrescribed')">Discard </a>
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-12">
                           <hr>
                        </div>
                        </div>

                        <div class="padding">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="list-group-header">
                                            <div class="pull-left">
                                                <h3>
                                                    Medications
                                                </h3>
                                            </div>
                                            <div class="pull-right">
                                                <a class="btn btn-success btn-sm"  ng-disabled="showNonPrescribedDetail" ng-click="addMedication('NonPrescribed')"><i class="fa fa-plus-square"></i>&nbsp;Add Item
                                                </a>
                                            </div>
                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        {{'lblMedicineName' | translate}}
                                                    </th>
                                                    <th>
                                                        Lot#
                                                    </th>
                                                    <th>
                                                        {{'lblDose' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'lblFrequency' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'lblRoute' | translate}}
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="element in nonprescibedList">
                                                    <td>
                                                            <a ng-click="SelectNonPAMedication(element,$index)"> {{element.MedicineName}}</a>
                                                    </td>
                                                    <td>
                                                           {{element.MedicationLotNumber}}
                                                    </td>
                                                    <td>
                                                           {{element.MedicineDose}}    {{element.MedicineDoseUOM}}
                                                    </td>
                                                    <td>
                                                           {{element.MedicationFrequencyTitle}}
                                                    </td>
                                                    <td>
                                                           {{element.MedicationRouteTitle}}
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-times text-danger fa-lg" ng-click="removeAM(element,'NonPrescribed')"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">
                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                            {{'lblPrescribedMedication' | translate}}?
                        </div>
                        <div class="pull-right">
                            <input bs-switch ng-model="Prescription" type="checkbox"
                                switch-size="mini" switch-on-text="Yes" switch-off-text="No" >
                        </div>
                    </div>
                    <div class="panel-body" ng-show="Prescription">
                        <div class="col-sm-10" ng-show="showPrescribedDetail">
                            <div class="padding">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblPrescribedMedication' | translate}}<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="PAMDetails.PrescribedMedication" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblPrescriptionDose' | translate}}
                                        </label>
                                        <div class="col-sm-8 col-md-5">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" decimal-number-only-dir ng-model="PAMDetails.PrescriptionDose" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id = 'ddlPrescriptionDoseUOM' ng-model="PAMDetails.PrescriptionDoseUOMTypeId" ng-change ="fun(4)">
                                                        <option ng-repeat="data in LiquidUOMList" value="{{data.ID}}">{{data.Text}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblPrescriptionFilledDate' | translate}}
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="datetime" date-time class="form-control" ng-model="PAMDetails.PrescriptionFilledDate"
                                                    format="longDate" view="date" min-view="date" auto-close="true" readonly>
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblPrescribedBy' | translate}}
                                        </label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id = 'ddlHealthCareProvider' ng-model="PAMDetails.HealthCareProviderID" ng-change ="fun(3)">
                                                <option ng-repeat="data in HealthcareProviderList" value="{{data.ID}}">{{data.Text}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblFrequency' | translate}} <span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="ddlMedicationFrequency" ng-model="PAMDetails.MedicationFrequencyID" ng-change ="fun(2)"  >
                                                <option ng-repeat="data in MedicationFrequencyList" value="{{data.ID}}">{{data.Text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            {{'lblRoute' | translate}} <span class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="ddlMedicationRoute" ng-model="PAMDetails.MedicationRouteID" ng-change ="fun(1)"  >
                                                <option ng-repeat="data in MedicationRouteList"  value="{{data.ID}}">{{data.Text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm pull-right" ng-click="SaveToPecribedList()">Done </a><span class="pull-right">&nbsp;&nbsp;</span>
                                        <a class="btn btn-danger btn-sm pull-right"  ng-click="DiscardAMDetail('Prescribed')">Discard </a>
                                    </div>
                                </div>

                            </div>
                             <div class="col-sm-12">
                           <hr>
                        </div>
                        </div>

                        <div class="padding">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="list-group-header">
                                            <div class="pull-left">
                                                <h3>
                                                    Medications
                                                </h3>
                                            </div>
                                            <div class="pull-right">
                                                <a class="btn btn-success btn-sm" ng-disabled="showPrescribedDetail" ng-click="addMedication('Prescribed')"><i class="fa fa-plus-square"></i>&nbsp;Add Item
                                                </a>
                                            </div>
                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        {{'lblPrescribedMedication' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'lblPrescriptionDose' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'lblPrescribedBy' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'lblFrequency' | translate}}
                                                    </th>
                                                    <th>
                                                        {{'lblRoute' | translate}}
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="element in prescibedList">
                                                    <td>
                                                       <a ng-click="SelectPAMedication(element,$index)">
                                                          {{element.PrescribedMedication}}</a>
                                                    </td>
                                                    <td>
                                                         {{element.PrescriptionDose}}    {{element.PrescriptionDoseUOM}}
                                                    </td>
                                                    <td>
                                                         {{element.HealthCareProvider}}
                                                    </td>
                                                    <td>
                                                         {{element.MedicationFrequencyTitle}}
                                                    </td>
                                                    <td>
                                                         {{element.MedicationRouteTitle}}
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-times text-danger fa-lg" ng-click="removeAM(element,'Prescribed')"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="padding">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="panel-title">
                                    {{'lblEncounterStatus&Follow-upDetails'| translate}}</h3>
                                <!--{{'lblScheduleFollowUpAppointment'| translate}}-->
                                <hr>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                {{'lblEncounterCompleted' | translate}} <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="encCompleted" ng-model="administerMedicationDetails.EncounterStatus"
                                        ng-value="1002" />{{'lblYes'| translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="encCompleted" ng-model="administerMedicationDetails.EncounterStatus"
                                        ng-value="1003" />{{'lblNo'| translate}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="administerMedicationDetails.EncounterStatus == 1003">
                            <label class="control-label col-sm-4">
                                {{'lblReasonEncounterIncomplete' | translate}} <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="administerMedicationDetails.ReasonEncounterIncomplete" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                {{'lblReferredFor' | translate}}
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="ddlDiagnostic" ng-model="administerMedicationDetails.DiagnosticMethodID">
                                    <option ng-repeat="data in DiagnosticMethodList" value="{{data.ID}}">{{data.Text}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                <!-- Schedule Follow Up-->
                                {{'lblScheduleFollowUp'| translate}}
                            </label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="schedulefollowup" class="" ng-model="administerMedicationDetails.ScheduleFollowUp"
                                        ng-value="true" />{{'lblYes'| translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="schedulefollowup" class="" ng-model="administerMedicationDetails.ScheduleFollowUp"
                                        ng-disabled="FieldDisabled" ng-value="false" />{{'lblNo'| translate}}
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-show="administerMedicationDetails.ScheduleFollowUp == true">
                            <div class="col-sm-12">
                                <h3 class="panel-title">
                                    {{'lblScheduleFollowUpAppointment'| translate}}</h3>
                                    <hr />
                            </div>
                        </div>
                        <div class="container-fluid" ng-show="administerMedicationDetails.ScheduleFollowUp == true">
                            <div class="row">
                                <div class="col-sm-12" schedule-Follow-Up ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well button-group">
     <div class="signature-stamp">
       <i> <p ng-show="administerMedicationDetails.UpdatedBy!=null && administerMedicationDetails.UpdatedBy!=0 && administerMedicationDetails.CreatedBy!=null && administerMedicationDetails.CreatedBy!=0">

         {{'lblCreatedBy'|translate}}  {{ administerMedicationDetails.CreatedByName}} {{'lblon'|translate}} {{ administerMedicationDetails.CreatedDate}}.
         {{'lblLastUpdatedBy'|translate}}  {{ administerMedicationDetails.UpdatedByName}} {{'lblon'|translate}} {{ administerMedicationDetails.UpdatedDate}}.
           </p>
           <p ng-show="(administerMedicationDetails.UpdatedBy==null || administerMedicationDetails.UpdatedBy==0) && (administerMedicationDetails.CreatedBy!=null && administerMedicationDetails.CreatedBy!=0)">

          {{'lblCreatedBy'|translate}}  {{ administerMedicationDetails.CreatedByName}} {{'lblon'|translate}} {{ administerMedicationDetails.CreatedDate}}.
           </p>
           </i>
    </div>
        <a href="" class="btn btn-default" ng-click="cancelAMDetails()">{{'btnCancel' | translate}}</a>
        <!--<a href=""
            class="btn btn-info" ng-click="saveAMDetails()">{{'btnSave' | translate}}</a>-->
        <a class="btn btn-info" ng-click="IsDisable || saveAMDetails()" ng-disabled="IsDisable"
            ng-if="funPermissionCheck(450011,'SelfOthers',createdBy)">{{'btnSave'|translate}}
            <i ng-if="loadingAction" class="fa fa-spinner fa-spin"></i></a>
    </div>
    <div ng-show="funPermissionCheck(450011,'SelfOthers',createdBy)" style="padding:8px 14px;">
        <b>Note:</b> Click <a class="btn btn-info btn-xs">{{'btnSave'|translate}}</a> to save the records.
    </div>
    <loading-overlay ng-init="showLoadingOverlay = false" show-loading-overlay="showLoadingOverlay"></loading-overlay>
</div>
</form>
