<form id = 'frmBiometrics' name = 'frmBiometrics'>
<div ng-controller="biometricsCtrl" >

    <div encounter-type-nav-bar-dir encounter-type-nav-bar-options="navBarOptions"
         ng-if="showSubNavbars"></div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-10">

                <div class="padding">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{'lblWorkRelated'| translate}}<span name="BiometricTestDetailsmandatory" class="text-danger"> *</span></label>

                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio"  name="WorkRelated" ng-model="BiometricDetails.BiometricTestDetails.WorkRelated" ng-value=true class=""/>{{'lblYes'| translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="WorkRelated" ng-model="BiometricDetails.BiometricTestDetails.WorkRelated" ng-value=false class=""/>{{'lblNo'| translate}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-show="BiometricDetails.BiometricTestDetails.WorkRelated">
                        <label class="control-label col-sm-4">
                           <span>{{'lblIncidentID'| translate}}</span>
                        </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <ui-select class="form-control padding-0" ng-model="BiometricDetails.BiometricTestDetails.IncidentID" theme="bootstrap"
                                ng-disabled="disabled">
                                    <ui-select-match placeholder="Select...">{{$select.selected.Text}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="Items.ID as Items in IncidentList | filter:$select.search">
                                        <span ng-bind-html="Items.Text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-addon">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">{{'lblPartofHBR'| translate}} <span class="text-danger">*</span></label>

                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" id="PartOfHBRYes" name="PartOfHBR" ng-model="BiometricDetails.BiometricTestDetails.PartOfHBR" ng-value=true ng-click="checkHBRStatus()" class=""/>{{'lblYes'| translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="PartOfHBRNo" name="PartOfHBR" ng-model="BiometricDetails.BiometricTestDetails.PartOfHBR" ng-value=false class=""/>{{'lblNo'| translate}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">{{'lblHasBiometricbeensubmittedforHBR'| translate}} <span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" id="SubmitedForHBRYes" name="SubmitedForHBR" ng-model="BiometricDetails.BiometricTestDetails.SubmitedForHBR" ng-value=true ng-click="checkHBRStatus()" class=""/>{{'lblYes'| translate}}
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="SubmitedForHBRNo" name="SubmitedForHBR" ng-model="BiometricDetails.BiometricTestDetails.SubmitedForHBR" ng-value=false class=""/>{{'lblNo'| translate}}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">

                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                            {{'lblPerformBloodGlucoseMeasurement'| translate}}
                        </div>
                        <div class="pull-right">
                            <input bs-switch
                                   ng-model="BiometricDetails.BloodGlucose.BloodGlucoseTestPerformed"
                                   type="checkbox"
                                   switch-size="mini"
                                   switch-on-text="Yes"
                                   switch-off-text="No">

                        </div>
                    </div>
                    <div class="panel-body"
                         ng-show="BiometricDetails.BloodGlucose.BloodGlucoseTestPerformed">
                         <div class="col-sm-10">
                            <div class="padding">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4 time-label">{{'lblTime'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <timepicker class="timepicker-table"
                                                        ng-model="BloodGlucoseTestTime"
                                                        hour-step="hourStep"
                                                        minute-step="minuteStep"
                                                        show-meridian="true">
                                            </timepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblMeasurementType'| translate}} <span
                                                class="text-danger">*</span></label>

                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" name="MeasurementTypeID" ng-model="BiometricDetails.BloodGlucose.MeasurementTypeID" ng-value="1000" class=""/>{{'lblFingerStick'| translate}}
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="MeasurementTypeID" ng-model="BiometricDetails.BloodGlucose.MeasurementTypeID" ng-value="1001" class=""/>{{'lblLabDraw'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblNormalcyLevel'| translate}}</label>

                                        <div class="col-sm-8">
                                            <select class="form-control" id="NormalcyLevel" ng-model="BiometricDetails.BloodGlucose.NormalcyLevel">
                                            <option ng-repeat="items in NomacyLevelList" value="{{items.ID}}">{{items.Text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblBloodGlucoseValue'| translate}}  <span
                                                class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="BloodGlucoseValue" ng-model="BiometricDetails.BloodGlucose.BloodGlucoseValue" ng-change="checkNum('BloodGlucoseValue','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="BloodGlucoseUnitOfMeasurementID" ng-model="BiometricDetails.BloodGlucose.BloodGlucoseUnitOfMeasurementID">
                                                        <option ng-repeat="items in DensityUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblFasting'| translate}} </label>

                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" name="Fasting" ng-model="BiometricDetails.BloodGlucose.Fasting" ng-value=true class=""/>{{'lblYes'| translate}}
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="Fasting" ng-model="BiometricDetails.BloodGlucose.Fasting" ng-value=false class=""/>{{'lblNo'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblNotes'| translate}} </label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control" ng-model="BiometricDetails.BloodGlucose.BloodGlucoseTestNote" maxlength="2000"></textarea>
                                        </div>
                                    </div>
                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">

                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                             {{'lblPerformBloodPressureMeasurement'| translate}}
                        </div>
                        <div class="pull-right">
                            <input bs-switch
                                   ng-model="BiometricDetails.BloodPressure.BloodPressureTestPerformed"
                                   type="checkbox"
                                   switch-size="mini"
                                   switch-on-text="Yes"
                                   switch-off-text="No">

                        </div>
                    </div>
                    <div class="panel-body"
                         ng-show="BiometricDetails.BloodPressure.BloodPressureTestPerformed">
                         <div class="col-sm-10">

                            <div class="padding">
                                <div class="form-horizontal">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 time-label">{{'lblTime'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <timepicker class="timepicker-table"
                                                        ng-model="BloodPresureTestTime"
                                                        hour-step="hourStep"
                                                        minute-step="minuteStep"
                                                        show-meridian="true">
                                            </timepicker>
                                          
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblPositionFrame'| translate}} <span
                                                class="text-danger">*</span></label>

                                        <div class="col-sm-8">
                                             <select class="form-control" id="TestPositionFrameID" ng-model="BiometricDetails.BloodPressure.TestPositionFrameID">
                                                    <option ng-repeat="items in TestPositionFrameList" value="{{items.ID}}">{{items.Text}}</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblArm'| translate}}  <span
                                                class="text-danger">*</span></label>

                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" name="BodyPartSideID" ng-model="BiometricDetails.BloodPressure.BodyPartSideID" ng-value="ArmLeft" class=""/>{{'lblRight'| translate}}
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="BodyPartSideID" ng-model="BiometricDetails.BloodPressure.BodyPartSideID" ng-value="ArmRight" class=""/>{{'lblLeft'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblSystolicReading'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="MaximumPresure" ng-model="BiometricDetails.BloodPressure.MaximumPresure" ng-change="checkNum('MaximumPresure','Integer')" maxlength="3"/>
                                                </div>
                                                <div class="col-xs-6">
                                                   <select class="form-control" id="PresureUnitOfMeasurementID" ng-model="BiometricDetails.BloodPressure.PresureUnitOfMeasurementID">
                                                        <option ng-repeat="items in PressureUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblDiastolicReading'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="MinimumPresure" ng-model="BiometricDetails.BloodPressure.MinimumPresure" ng-change="checkNum('MinimumPresure','Integer')" maxlength="3"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="Select1" ng-model="BiometricDetails.BloodPressure.MinPresureUnitOfMeasurementID">
                                                        <option ng-repeat="items in PressureUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblPulseReading'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="PulseReading" ng-model="BiometricDetails.BloodPressure.PulseReading" ng-change="checkNum('PulseReading','Integer')" maxlength="3"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="PulseReadingUnitOfMeasurementID" ng-model="BiometricDetails.BloodPressure.PulseReadingUnitOfMeasurementID">
                                                        <option ng-repeat="items in PressureUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblMonitoring'| translate}} <span
                                                class="text-danger">*</span></label>

                                        <div class="col-sm-8">
                                            <select class="form-control" id="MonitoringTypeID" ng-model="BiometricDetails.BloodPressure.MonitoringTypeID">
                                                        <option ng-repeat="items in MonitoringTypeBiometricsList" value="{{items.ID}}">{{items.Text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblIrregularHeartbeat'| translate}} <span
                                                class="text-danger">*</span></label>

                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" name="IrregularHeartBeat" ng-model="BiometricDetails.BloodPressure.IrregularHeartBeat" ng-value=true class=""/>{{'lblYes'| translate}}
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="IrregularHeartBeat" ng-model="BiometricDetails.BloodPressure.IrregularHeartBeat" ng-value=false  class=""/>{{'lblNo'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblNotes'| translate}} </label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control" ng-model="BiometricDetails.BloodPressure.BloodPresureTestNote" maxlength="2000"></textarea>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">

                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                             {{'lblPerformBodyDimensionMeasurement'| translate}}
                        </div>
                        <div class="pull-right">
                            <input bs-switch
                                   ng-model="BiometricDetails.BodyDimensionDetails.BodyDimentionMeasurementTest"
                                   type="checkbox"
                                   switch-size="mini"
                                   switch-on-text="Yes"
                                   switch-off-text="No">

                        </div>
                    </div>
                    <div class="panel-body"
                         ng-show="BiometricDetails.BodyDimensionDetails.BodyDimentionMeasurementTest">
                         <div class="col-sm-10">

                            <div class="padding">
                                <div class="form-horizontal">
                                
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 time-label">{{'lblTime'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <timepicker class="timepicker-table"
                                                        ng-model="BodyDimensionMeasurementTime"
                                                        hour-step="hourStep"
                                                        minute-step="minuteStep"
                                                        show-meridian="true">
                                            </timepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblHeight'| translate}} <span class="text-danger">*</span></label>
                                                
                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="BodyHeight" ng-model="BiometricDetails.BodyDimensionDetails.BodyHeight" ng-blur="GetValue('BodyHeight')" ng-change="checkNum('BodyHeight','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                            <select class="form-control" id="HghtBodyHeightUnitOfMeasurementID" ng-change="GetValue('')" ng-model="BiometricDetails.BodyDimensionDetails.BodyHeightUnitOfMeasurementID" >
                                                                <option ng-repeat="items in HeightUOMList" value="{{items.ID}}" >{{items.Text}}</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblWeight'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="BodyWeight" ng-model="BiometricDetails.BodyDimensionDetails.BodyWeight" ng-blur="GetValue('BodyWeight')" ng-change="checkNum('BodyWeight','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                            <select class="form-control" id="BodyWeightUnitOfMeasurementID" ng-change="GetValue('')" ng-model="BiometricDetails.BodyDimensionDetails.BodyWeightUnitOfMeasurementID" >
                                                                <option ng-repeat="items in WeightUOMList" value="{{items.ID}}" >{{items.Text}}</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblWaistCircumference'| translate}}  <span
                                                class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="WaistCircumference" ng-model="BiometricDetails.BodyDimensionDetails.WaistCircumference" ng-change="checkNum('WaistCircumference','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                            <select class="form-control" id="WaistCircumferenceUnitOfMeasurementID" ng-model="BiometricDetails.BodyDimensionDetails.WaistCircumferenceUnitOfMeasurementID">
                                                                <option ng-repeat="items in HeightUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblWeightChange'| translate}} </label>

                                        <div class="col-sm-8">
                                            <input class="form-control" id="WeightPercentageChange" ng-model="BiometricDetails.BodyDimensionDetails.WeightPercentageChange" ng-change="checkNum('WeightPercentageChange','Decimal')" maxlength="6"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblBMI'| translate}} <span
                                                class="text-danger">*</span></label>

                                        <div class="col-sm-8">
                                            <input class="form-control" id="BMIValue" ng-model="BiometricDetails.BodyDimensionDetails.BMIValue"  ng-disabled="true" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblGoalWeight'| translate}} </label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="GoalWeight" ng-model="BiometricDetails.BodyDimensionDetails.GoalWeight" ng-change="checkNum('GoalWeight','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                            <select class="form-control" id="GoalWeightUOM" ng-model="BiometricDetails.BodyDimensionDetails.BodyWeightUnitOfMeasurementID">
                                                                <option ng-repeat="items in WeightUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblTargetDate'| translate}} </label>

                                        <div class="col-sm-8">
                                            <div class="input-group"> 
                                                <input type="datetime" date-time 
                                                       class="form-control" 
                                                       ng-model="BiometricDetails.BodyDimensionDetails.GoalTargetDate"
                                                       format="longDate"
                                                       view="date"
                                                       min-view="date"
                                                       auto-close="true" readonly>
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblCompletionDate'| translate}} </label>

                                        <div class="col-sm-8">
                                            <div class="input-group"> 
                                                <input type="datetime" date-time 
                                                       class="form-control" 
                                                       ng-model="BiometricDetails.BodyDimensionDetails.GoalCompletionDate"
                                                       format="longDate"
                                                       view="date"
                                                       min-view="date"
                                                       auto-close="true" readonly>
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblNotes'| translate}} </label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control" ng-model="BiometricDetails.BodyDimensionDetails.BodyDimensionMeasurementNote" maxlength="2000"></textarea>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">

                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                            {{'lblPerformCholesterolLipidProfile'| translate}}
                        </div>
                        <div class="pull-right">
                            <input bs-switch
                                   ng-model="BiometricDetails.LipidProfileTest.PeformLipidProfile"
                                   type="checkbox"
                                   switch-size="mini"
                                   switch-on-text="Yes"
                                   switch-off-text="No">

                        </div>
                    </div>
                    <div class="panel-body"
                         ng-show="BiometricDetails.LipidProfileTest.PeformLipidProfile">
                         <div class="col-sm-10">

                            <div class="padding">
                                <div class="form-horizontal">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 time-label">{{'lblTime'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <timepicker class="timepicker-table"
                                                        ng-model="LipidProfileTestTime"
                                                        hour-step="hourStep"
                                                        minute-step="minuteStep"
                                                        show-meridian="true">
                                            </timepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblHDL'| translate}}  <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="HighDensityLipoprotein" ng-model="BiometricDetails.LipidProfileTest.HighDensityLipoprotein"  ng-change="checkNum('HighDensityLipoprotein','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="HDLDensityUnitOfMeasurementID"  ng-model="BiometricDetails.LipidProfileTest.DensityUnitOfMeasurementID">
                                                        <option ng-repeat="items in DensityUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblLDL'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="LowDensityLipoprotein" ng-model="BiometricDetails.LipidProfileTest.LowDensityLipoprotein" ng-change="checkNum('LowDensityLipoprotein','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="LDLDensityUnitOfMeasurementID" ng-model="BiometricDetails.LipidProfileTest.LowDensityUnitOfMeasurementID">
                                                        <option ng-repeat="items in DensityUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblTotalCholesterol'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="TotalCholesterolValue" ng-model="BiometricDetails.LipidProfileTest.TotalCholesterolValue" ng-change="checkNum('TotalCholesterolValue','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="CholesterolUnitOfMeasurementID" ng-model="BiometricDetails.LipidProfileTest.CholesterolUnitOfMeasurementID">
                                                        <option ng-repeat="items in DensityUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'lblTriglyceride'| translate}} <span class="text-danger">*</span></label>

                                        <div class="col-xs-8 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input class="form-control" id="TriglycerideValue" ng-model="BiometricDetails.LipidProfileTest.TriglycerideValue" ng-change="checkNum('TriglycerideValue','Decimal')" maxlength="6"/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="TriglycerideUnitOfMeasurementID" ng-model="BiometricDetails.LipidProfileTest.TriglycerideUnitOfMeasurementID">
                                                        <option ng-repeat="items in DensityUOMList" value="{{items.ID}}">{{items.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> {{'lblNotes'| translate}} </label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control" ng-model="BiometricDetails.LipidProfileTest.LipidProfileTestNote" maxlength="2000"></textarea>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="panel panel-default margin-top-10">

                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                            {{'lblEncounterStatusFollowupDetails'| translate}}</h3>
                        </div>
                        
                    </div>
                    <div class="panel-body">
                         <div class="col-sm-10">

                            <div class="padding">
                                <div class="form-horizontal">
                                    
                                        <div class="form-group">
                                            <label class="control-label col-sm-4"> {{'lblEncounterCompleted'| translate}}<span
                                                    class="text-danger"> *</span></label>

                                            <div class="col-sm-8">
                                                <label class="radio-inline">
                                                    <input type="radio" name="EncounterStatus" ng-model="BiometricDetails.BiometricTestDetails.EncounterStatus" ng-value="1002" class=""/>{{'lblYes'| translate}}
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="EncounterStatus" ng-model="BiometricDetails.BiometricTestDetails.EncounterStatus" ng-value="1003" class=""/>{{'lblNo'| translate}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-show="BiometricDetails.BiometricTestDetails.EncounterStatus==1003">
                                            <label class="control-label col-sm-4"> {{'lblReasonEncounterIncomplete'| translate}} <span
                                                    class="text-danger">*</span></label>

                                            <div class="col-sm-8">
                                                <input id="Text1" class="form-control" ng-model="BiometricDetails.BiometricTestDetails.ReasonEncounterIncomplete"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'lblReferredFor'| translate}} </label>

                                            <div class="col-sm-8">
                                                <select class="form-control" id="Select2" ng-model="BiometricDetails.BiometricTestDetails.DiagnosticMethodID">
                                                            <option ng-repeat="items in DiagnosticMethodList" value="{{items.ID}}">{{items.Text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                        <label class="control-label col-sm-4">{{'lblScheduleFollowUp'| translate}} </label>

                                                        <div class="col-sm-8">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="ScheduleFollowUP" ng-model="BiometricDetails.BiometricTestDetails.ScheduleFollowUp" ng-value=true class=""/>{{'lblYes'| translate}}
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="ScheduleFollowUP" ng-model="BiometricDetails.BiometricTestDetails.ScheduleFollowUp" ng-value=false ng-disabled= "FieldDisabled"  class=""/>{{'lblNo'| translate}}
                                                        </label>
                                                </div>
                                         </div>
                                    

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

           
            <div class="col-sm-12" ng-show="BiometricDetails.BiometricTestDetails.ScheduleFollowUp">
                <div class="panel panel-default margin-top-10">

                    <div class="panel-heading clearfix">
                        <div class="panel-title pull-left">
                            {{'lblScheduleFollowUpAppointment'| translate}}</h3>
                        </div>
                        
                    </div>
                    <div class="panel-body">
                         
                         <div class="col-sm-10">
                            <div class="form-horizontal" schedule-Follow-Up></div>  
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="well button-group">
           <div class="signature-stamp">
       <i> <p ng-show="BiometricDetails.BiometricTestDetails.UpdatedBy!=null && BiometricDetails.BiometricTestDetails.UpdatedBy!=0 && BiometricDetails.BiometricTestDetails.CreatedBy!=null && BiometricDetails.BiometricTestDetails.CreatedBy!=0">

         {{'lblCreatedBy'|translate}}  {{ BiometricDetails.BiometricTestDetails.CreatedByName}} {{'lblon'|translate}} {{ BiometricDetails.BiometricTestDetails.CreatedDate}}.  
         {{'lblLastUpdatedBy'|translate}}  {{ BiometricDetails.BiometricTestDetails.UpdatedByName}} {{'lblon'|translate}} {{ BiometricDetails.BiometricTestDetails.UpdatedDate}}.
           </p>
           <p ng-show="(BiometricDetails.BiometricTestDetails.UpdatedBy==null || BiometricDetails.BiometricTestDetails.UpdatedBy==0) && (BiometricDetails.BiometricTestDetails.CreatedBy!=null && BiometricDetails.BiometricTestDetails.CreatedBy!=0)">

          {{'lblCreatedBy'|translate}}  {{ BiometricDetails.BiometricTestDetails.CreatedByName}} {{'lblon'|translate}} {{ BiometricDetails.BiometricTestDetails.CreatedDate}}.  
           </p>
           </i>
    </div>
        <a class="btn btn-default"
           ng-click="cancel()">{{'btnCancel'| translate}}</a>
        <a class="btn btn-info" id="btnSave" ng-show="funPermissionCheck(450011,'SelfOthers',BiometricDetails.BiometricTestDetails.CreatedBy);"
           ng-click="saveBiometricDetails()">{{'btnSave'| translate}}<i ng-if="loadingAction" class="fa fa-spinner fa-spin"></i></a>
    </div>
     <loading-overlay ng-init="showLoadingOverlay = false" show-loading-overlay="showLoadingOverlay"></loading-overlay> 
</div>

</form>
