

<!-- MODAL CONTENT -->
<div class="modal-body">
  <p><span class="text-danger">*</span> Please select the reason for cancelling.</p>
  <select class="form-control">
  	<option value=""></option>
  	<option value="">Health Care Provider Not Available</option>
  	<option value="">Testing Equipment Out of Order</option>
  </select>
</div>
<!-- MODAL HEADER -->
<div class="modal-footer clearfix">
<!--  <h3 class="modal-title pull-left">{{header}}</h3>-->
  <div class="pull-right">
    <button class="btn btn-primary" type="button" ng-click="modalOk()">Ok</button>
    <button class="btn btn-default" type="button" ng-click="modalClose()">Cancel</button>
  </div>
</div>