<!-- MODAL HEADER -->
<div class="modal-header clearfix">
  <h3 class="modal-title pull-left">Upload Attachment</h3>
<!--
  <div class="pull-right">
    <button class="btn btn-default" type="button" ng-click="modalClose()">{{'lblCancel'|translate}}</button>
    <button class="btn btn-primary" type="button" ng-click="modalClose()">Upload</button>
  </div>
-->
</div>

<!-- MODAL CONTENT -->
<div class="modal-body">
  
  <p>Angular upload options:</p>
  <ul>
    <li><a href="http://flowjs.github.io/ng-flow/">http://flowjs.github.io/ng-flow/</a></li>
    <li><a href="https://github.com/danialfarid/ng-file-upload">https://github.com/danialfarid/ng-file-upload</a></li>
  </ul>
 
  <p>File upload module goes here...</p>
  <input type="file">
</div>

<!-- MODAL FOOTER -->
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="modalClose()">{{'lblCancel'|translate}}</button>
  <button class="btn btn-primary" type="button" ng-click="modalClose()">Upload</button>
</div>