<div nav-bar nav-bar-options="navBarOptions"></div>

<div class="well"
     ng-show="navBarOptions.showFilterPanel">
    <div class="dropdown">
        <div>
                            <span class="h3">
                                <span>Oct 6, 2015</span>
                                <span>{{innerFilterStartDateDisplay | date:'longDate'}} </span> <span
                                    ng-hide="isSame(innerFilterStartDateDisplay,innerFilterEndDateDisplay)">- {{innerFilterEndDateDisplay | date:'longDate'}}</span>
                            </span> &nbsp;
            <small id="dropdownMenu3" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-calendar"></i>
            </small>

            <hr>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <div class="date-range-wrapper">

                    <!--This si the date picker directive-->
                    <div date-range start="innerFilterStartDate" end="innerFilterEndDate"
                         ng-click="$event.preventDefault();$event.stopPropagation()">
                    </div>

                    <div class="button-group">
                        <a class="btn btn-primary pull-left" data-toggle="dropdown"
                           ng-click="setToday('inner');$event.preventDefault();$event.stopPropagation();">Today</a>
                        <a class="btn btn-default" data-toggle="dropdown" ng-click="cancelInnerDateFilter()">Cancel</a>
                        <a class="btn btn-primary" data-toggle="dropdown"
                           ng-click="applyInnerDateFilter('date')">Set</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>View Details</h3>
            <hr>
            <div class="form-group">
                <label class="control-label">
                    View Name <span class="text-danger">*</span>
                </label>
                <input class="form-control">
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1">
                    <b class="">Make Default View</b>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    View Description
                </label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1">
                    <b class="">Show View Description on Page</b>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Select Filters</h3>
            <hr>
            <div class="form-group">
                <label class="control-label">
                    Encounter Type
                </label>
                <select class="form-control">
                    <option>All</option>
                    <option ng-repeat="encounterType in  encounterTypes">{{encounterType.name}}</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Select Columns</h3>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">
                        Available Columns
                    </label>

                    <div class="form-group">

                        <div class="input-group input-group-sm">
                            <input type="search" placeholder="Search Columns" class="form-control">

                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <select class="form-control" multiple>
                            <option value="">Encounter Type</option>
                            <option value="">Open</option>
                            <option value="">Closed</option>
                            <option value="">Overdue</option>
                            <option value="">Total</option>
                        </select>
                    </div>


                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <button class="btn btn-default">
                            <i class="fa fa-forward"></i>
                        </button>
                        <br>
                        <button class="btn btn-default">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default">
                            <i class="fa fa-play fa-rotate-180"></i>
                        </button>
                        <br>
                        <button class="btn btn-default">
                            <i class="fa fa-backward"></i>
                        </button>

                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">
                        Selected Columns
                    </label>

                    <div class="form-group">
                        <button class="btn btn-default">Reset to Default</button>
                    </div>

                    <div class="form-group">

                        <select class="form-control" multiple>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <button class="btn btn-default">
                            <i class="fa fa-forward fa-rotate-270"></i>
                        </button>
                        <br>
                        <button class="btn btn-default">
                            <i class="fa fa-play fa-rotate-270"></i>
                        </button>
                    </div>

                    <div class="form-group">

                        <button class="btn btn-default">
                            <i class="fa fa-play fa-rotate-90"></i>
                        </button>
                        <br>
                        <button class="btn btn-default">
                            <i class="fa fa-backward fa-rotate-270"></i>
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="form-button-group">
        <a ng-click="navBarOptions.showFilterPanel = false" class="btn btn-default">Cancel</a>
        <a ng-click="navBarOptions.showFilterPanel = false" class="btn btn-primary">Apply</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="padding">

            <div class="view-navbar list-group-header clearfix">
                <h4 class="pull-left">
                    Manage Lab Feed
                </h4>

                <a class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus-square"></i> {{'lblAdd'|translate}}
                </a>

                <a class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-file-excel-o"></i> Export
                </a> 

                <div class="input-group input-group-sm pull-right col-sm-3">
                    <input type="search" placeholder="Find" class="form-control" ng-model="searchappointment.$">

                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="table-responsive padding">
                <table class="table table-bordered table-striped table-hover nowrap">
                    <thead>
                    <tr>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Batch #
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Location Code
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Sample ID
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Employee ID
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Employee First Name
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Employee Last Name
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Sample Generated Date
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                # of Samples
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Submitted Date & Time
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Sample Status (Valid/Invalid)<span class="text-danger"> *</span>
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Sample Received Date <span class="text-danger"> *</span>
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Analysis Date
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Analysis Method
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Blood Lead Level (BLL)<span class="text-danger"> *</span>
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                UOM
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Zinc Protoporphyr in (ZPP)<span class="text-danger"> *</span>
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                UOM
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='drugName'; reverseSort = !reverseSort">
                                Lab Comments (Maximum 500 Characters)
                                <span ng-show="orderByField == 'drugName'">
                                    <span ng-show="!reverseSort"><i class="fa fa-caret-up"></i></span>
                                    <span ng-show="reverseSort"><i class="fa fa-caret-down"></i></span>
                                </span>
                            </a>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>B1000401593-2015-BN-001</td>
                        <td>B1000401593</td>
                        <td class="text-primary"
                            ng-click="goTo('encounters')">SM-BLL-999
                        </td>
                        <td>Irvine, CA</td>
                        <td>Jorge</td>
                        <td>Perez</td>
                        <td>1 June, 2015</td>
                        <td>1</td>
                        <td>2 June, 2015 13:00</td>
                        <td>Valid</td>
                        <td>6 June, 2015</td>
                        <td>8 June, 2015</td>
                        <td>GFAAS</td>
                        <td>12.8</td>
                        <td>ug/dl</td>
                        <td>13.6</td>
                        <td>ug/dl</td>
                        <td>Medium Level Lead in Blood</td>

                    </tr>
                    <tr>
                        <td>B1000401593-2015-BN-001</td>
                        <td>B1000401593</td>
                        <td class="text-primary"
                            ng-click="goTo('encounters')">SM-BLL-1005</td>
                        <td>Irvine, CA</td>
                        <td>Diana</td>
                        <td>Cortes</td>
                        <td>5 June, 2015</td>
                        <td>1</td>
                        <td>10 June, 2015 14:50</td>
                        <td>Valid</td>
                        <td>10 June, 2015</td>
                        <td>13 June, 2015</td>
                        <td>Portable ASV</td>
                        <td>16.4</td>
                        <td>ug/dl</td>
                        <td>19.5</td>
                        <td>ug/dl</td>
                        <td>Excessive Lead</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>